{% extends 'layout.html' %}


{% block content %}
		<form id="regForm" action="{{ url_for('diagnose') }}" method='post'>

			<h1 class='title header text-center' style='margin-bottom:60px;color:#999'>You are only a few questions away</h1>

			<!-- One "tab" for each step in the form: -->
			<div class="tab">
				<h4 class="tab-desc">What is your full name?</h4>
				<p><input placeholder="Full name..." oninput="this.className = ''" class='form-control' name='name'></p>
			</div>

			<div class="tab">
				<h4 class="tab-desc">How old are you?</h4>
				<p><input placeholder="Age..." oninput="this.className = ''" class='form-control' name='age'></p>
			</div>

			<div class="tab">
				<h4 class="tab-desc">What's your gender?</h4>
					<div class="custom-control custom-radio">
					<input type="radio" id="customRadio1" name="gender" class="custom-control-input" oninput="" value='Male'>
					<label class="custom-control-label" for="customRadio1">Male</label>
				</div>
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio2" name="gender" class="custom-control-input" oninput="" value='Female'>
					<label class="custom-control-label" for="customRadio2">Female</label>
				</div>
			</div>

			<div class="tab">
				<h4 class="tab-desc">What would you like to test for?</h4>
					{% for condition in conditions %}
					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" id="codCheck{{ condition.id }}" name='testFor' value='{{ condition.name }}'>
						<label class="custom-control-label" for="codCheck{{condition.id}}">{{ condition.name }}</label>
					</div>
					{% endfor %}
			</div>

		{% for condition in conditions %}
			{% for sympthon in condition.sympthons %}
					<div class="tab">
						<h4 class='tab-desc'>How are you feeling?</h4>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="sypCheck{{ sympthon.id }}" name='condition[{{ condition.id }}]' value='{{ condition.name }}'>
							<label class="custom-control-label" for="sypCheck{{sympthon.id}}">{{ sympthon.desc }}</label>
						</div>
						<!-- <p><input placeholder="Username..." oninput="this.className = ''" class='form-control'></p>
						<p><input placeholder="Password..." oninput="this.className = ''" class='form-control'></p> -->
					</div>
				
			{% endfor %}
		{% endfor %}

			<div style="overflow:auto;">
				<div style="float:right;">
					<button type="button" id="prevBtn" onclick="nextPrev(-1)" class='btn btn-warning'>Previous</button>
					<button type="button" id="nextBtn" onclick="nextPrev(1)" class='btn btn-warning'>Next</button>
				</div>
			</div>

			<!-- Circles which indicates the steps of the form: -->
			<div style="text-align:center;margin-top:40px;">
				{% for i in range(sympthon.query.count()+4) %}
						<span class="step"></span>
					{% endfor %}
			</div>

		</form>

{% endblock %}