{% extends 'layout.html' %}


{% block content %}
		<form id="regForm" action="{{ url_for('predict') }}" method='post'>

			<h1 class='title header text-center' style='margin-bottom:60px;color:#999'>You are only a few questions away</h1>

			<!-- One "tab" for each step in the form: -->
			<div class="tab">
				<h4 class="tab-desc">What is your full name?</h4>
				<p><input placeholder="Full name..." oninput="this.className = ''" class='form-control' ></p>
			</div>

			<div class="tab">
				<h4 class="tab-desc">How old are you?</h4>
				<p><input type='number' placeholder="Age..." oninput="this.className = ''" class='form-control' ></p>
			</div>

			<div class="tab">
				<h4 class="tab-desc">What's your gender?</h4>
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio1" name='area_mean' class="custom-control-input" oninput="" value=0 >
					<label class="custom-control-label" for="customRadio1">Male</label>
				</div>
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio2" name='area_mean' class="custom-control-input" oninput="" value=0 >
					<label class="custom-control-label" for="customRadio2">Female</label>
				</div>
			</div>

			<div class="tab">
				<h4 class="tab-desc">Description of Cancer Tumor</h4>
					<div class="custom-control">
						<label for="radius_mean">Radius mean</label>
					    <input type="number" min=0 max='99' id="radius_mean" name="radius_mean">btw:[0-99]
					    <br>
					    <label for="texture_mean">texture_mean</label>
					    <input type="number" min=0 max='99999' id="texture_mean" name="texture_mean">btw:[0-99999]
					    <br>
					    <label for="perimeter_mean">perimeter_mean</label>
					    <input type="number" min=0 max='4356' id="perimeter_mean" name="perimeter_mean" value='1'>btw:[0-4356]
					    <br>
					    <label for="area_mean">area_mean</label>
					    <input type="number" min=1 max='99' id="area_mean" name="area_mean"  value='1'>btw:[1-99]
					    <br>
					    <label for="smoothness_mean">smoothness_mean</label>
					    <input type="number" min=1 max='99' id="smoothness_mean" name="smoothness_mean"  value='1'>btw:[1-99]
					    <br>
					    <label for="compactness_mean">compactness_mean</label>
					    <input type="number" min=0 max='99999' id="compactness_mean" name="compactness_mean"  value='1'>btw:[0-99999]
					    <br>
					    <label for="concavity_mean">concavity_mean</label>
					    <input type="number" min=0 max='4356' id="concavity_mean" name="concavity_mean"  value='1'>btw:[0-4356]
					    <br>
					    <label for="concave points_mean">concave points_mean</label>
					    <input type="number" min=1 max='99' id="concave points_mean" name="concave points_mean"  value='1'>btw:[1-99]
					    <br>
					    <label for="symmetry_mean">symmetry_mean</label>
					    <input type="number" min=1 max='99' id="symmetry_mean" name="symmetry_mean"  value='1'>btw:[1-99]
					    <br>
					    <label for="fractal_dimension_mean">fractal_dimension_mean</label>
					    <input type="number" min=0 max='99999' id="fractal_dimension_mean" name="fractal_dimension_mean"  value='1'>btw:[0-99999]
					    <br>
					    <label for="radius_se">radius_se</label>
					    <input type="number" min=0 max='4356' id="radius_se" name="radius_se"  value='1'>btw:[0-4356]
					    <br>
					    <label for="texture_se">texture_se</label>
					    <input type="number" min=1 max='99' id="texture_se" name="texture_se" value='1'>btw:[1-99]
					    <br>
					    <label for="perimeter_se">perimeter_se</label>
					    <input type="number" min=1 max='99' id="perimeter_se" name="perimeter_se" value='1'>btw:[1-99]
					    <br>
					    <label for="area_se">area_se</label>
					    <input type="number" min=0 max='99999' id="area_se" name="area_se" value='1'>btw:[0-99999]
					    <br>
					    <label for="smoothness_se">smoothness_se</label>
					    <input type="number" min=0 max='4356' id="smoothness_se" name="smoothness_se" value='1'>btw:[0-4356]
					    <br>
					    <label for="compactness_se">compactness_se</label>
					    <input type="number" min=1 max='99' id="compactness_se" name="compactness_se" value='1'>btw:[1-99]
					    <br>
					    <label for="concavity_se">concavity_se</label>
					    <input type="number" min=1 max='99' id="concavity_se" name="concavity_se" value='1'>btw:[1-99]
					    <br>
					    <label for="concave points_se">concave points_se</label>
					    <input type="number" min=0 max='4356' id="concave points_se" name="concave points_se" value='1'>btw:[0-4356]
					    <br>
					    <label for="symmetry_se">symmetry_se</label>
					    <input type="number" id="symmetry_se" name="symmetry_se" value='1'>btw:[1-99]
					    <br>
					    <label for="fractal_dimension_se">fractal_dimension_se</label>
					    <input type="number" min=1 max='99' id="fractal_dimension_se" name="fractal_dimension_se" value='1'>btw:[1-99]
					    <br>
					    <label for="radius_worst">radius_worst</label>
					    <input type="number" min=0 max='99999' id="radius_worst" name="radius_worst" value='1'>btw:[0-99999]
					    <br>
					    <label for="texture_worst">texture_worst</label>
					    <input type="number" min=0 max='4356' id="texture_worst" name="texture_worst" value='1'>btw:[0-4356]
					    <br>
					    <label for="perimeter_worst">perimeter_worst</label>
					    <input type="number" min=1 max='99' id="perimeter_worst" name="perimeter_worst" value='1'>btw:[1-99]
					    <br>
					    <label for="area_worst">area_worst</label>
					    <input type="number" id="area_worst" name="area_worst" value='1'>btw:[1-99]
					    <br>
					    <label for="smoothness_worst">smoothness_worst</label>
					    <input type="number" min=1 max='99' id="smoothness_worst" name="smoothness_worst" value='1'>btw:[1-99]
					    <br>
					    <label for="compactness_worst">compactness_worst</label>
					    <input type="number"  min=0 max='4356' id="compactness_worst" name="compactness_worst" value='1'>btw:[0-4356]
					    <br>
					    <label for="concavity_worst">concavity_worst</label>
					    <input type="number" min=1 max='99' max='99' id="concavity_worst" name="concavity_worst" value='1'>btw:[1-99]
					    <br>
					    <label for="concave points_worst">concave points_worst</label>
					    <input type="number" min=1 max='99' id="concave points_worst" name="concave points_worst">btw:[1-99]
					    <br>
					    <label for="symmetry_worst">symmetry_worst</label>
					    <input type="number" min=0 max='99999' id="symmetry_worst" name="symmetry_worst" value='1'>btw:[0-99999]
					    <br>
					    <label for="fractal_dimension_worst">fractal_dimension_worst</label>
					    <input type="number" min=0 max='4356' id="fractal_dimension_worst" name="fractal_dimension_worst" value='1'>btw:[0-4356]
					</div>
			</div>

			<div style="overflow:auto;">
				<div style="float:right;">
					<button type="button" id="prevBtn" onclick="nextPrev(-1)" class='btn btn-warning'>Previous</button>
					<button type="button" id="nextBtn" onclick="nextPrev(1)" class='btn btn-warning'>Next</button>
				</div>
			</div>

			<!-- Circles which indicates the steps of the form: -->
			<div style="text-align:center;margin-top:40px;">
				{% for i in range(4) %}
						<span class="step"></span>
					{% endfor %}
			</div>

		</form>

{% endblock %}