{% extends 'layout.html' %}

{% block content %}
<div>
  <form action="/predict" method="POST">
    <label for="radius_mean">Radius mean</label>
    <input type="text" id="radius_mean" name="radius_mean">
    <br>
    <label for="texture_mean">texture_mean</label>
    <input type="text" id="texture_mean" name="texture_mean">btw:[0-99999]
    <br>
    <label for="perimeter_mean">perimeter_mean</label>
    <input type="text" id="perimeter_mean" name="perimeter_mean">btw:[0-4356]
    <br>
    <label for="area_mean">area_mean</label>
    <input type="text" id="area_mean" name="area_mean">btw:[1-99]
    <br>
    <label for="smoothness_mean">smoothness_mean</label>
    <input type="text" id="smoothness_mean" name="smoothness_mean">btw:[1-99]
    <br>
    <label for="compactness_mean">compactness_mean</label>
    <input type="text" id="compactness_mean" name="compactness_mean">btw:[0-99999]
    <br>
    <label for="concavity_mean">concavity_mean</label>
    <input type="text" id="concavity_mean" name="concavity_mean">btw:[0-4356]
    <br>
    <label for="concave points_mean">concave points_mean</label>
    <input type="text" id="concave points_mean" name="concave points_mean">btw:[1-99]
    <br>
    <label for="symmetry_mean">symmetry_mean</label>
    <input type="text" id="symmetry_mean" name="symmetry_mean">btw:[1-99]
    <br>
    <label for="fractal_dimension_mean">fractal_dimension_mean</label>
    <input type="text" id="fractal_dimension_mean" name="fractal_dimension_mean">btw:[0-99999]
    <br>
    <label for="radius_se">radius_se</label>
    <input type="text" id="radius_se" name="radius_se">btw:[0-4356]
    <br>
    <label for="texture_se">texture_se</label>
    <input type="text" id="texture_se" name="texture_se">btw:[1-99]
    <br>
    <label for="perimeter_se">perimeter_se</label>
    <input type="text" id="perimeter_se" name="perimeter_se">btw:[1-99]
    <br>
    <label for="area_se">area_se</label>
    <input type="text" id="area_se" name="area_se">btw:[0-99999]
    <br>
    <label for="smoothness_se">smoothness_se</label>
    <input type="text" id="smoothness_se" name="smoothness_se">btw:[0-4356]
    <br>
    <label for="compactness_se">compactness_se</label>
    <input type="text" id="compactness_se" name="compactness_se">btw:[1-99]
    <br>
    <label for="concavity_se">concavity_se</label>
    <input type="text" id="concavity_se" name="concavity_se">btw:[1-99]
    <br>
    <label for="concave points_se">concave points_se</label>
    <input type="text" id="concave points_se" name="concave points_se">btw:[0-4356]
    <br>
    <label for="symmetry_se">symmetry_se</label>
    <input type="text" id="symmetry_se" name="symmetry_se">btw:[1-99]
    <br>
    <label for="fractal_dimension_se">fractal_dimension_se</label>
    <input type="text" id="fractal_dimension_se" name="fractal_dimension_se">btw:[1-99]
    <br>
    <label for="radius_worst">radius_worst</label>
    <input type="text" id="radius_worst" name="radius_worst">btw:[0-99999]
    <br>
    <label for="texture_worst">texture_worst</label>
    <input type="text" id="texture_worst" name="texture_worst">btw:[0-4356]
    <br>
    <label for="perimeter_worst">perimeter_worst</label>
    <input type="text" id="perimeter_worst" name="perimeter_worst">btw:[1-99]
    <br>
    <label for="area_worst">area_worst</label>
    <input type="text" id="area_worst" name="area_worst">btw:[1-99]
    <br>
    <label for="smoothness_worst">smoothness_worst</label>
    <input type="text" id="smoothness_worst" name="smoothness_worst">btw:[1-99]
    <br>
    <label for="compactness_worst">compactness_worst</label>
    <input type="text" id="compactness_worst" name="compactness_worst">btw:[0-4356]
    <br>
    <label for="concavity_worst">concavity_worst</label>
    <input type="text" id="concavity_worst" name="concavity_worst">btw:[1-99]
    <br>
    <label for="concave points_worst">concave points_worst</label>
    <input type="text" id="concave points_worst" name="concave points_worst">btw:[1-99]
    <br>
    <label for="symmetry_worst">symmetry_worst</label>
    <input type="text" id="symmetry_worst" name="symmetry_worst">btw:[0-99999]
    <br>
    <label for="fractal_dimension_worst">fractal_dimension_worst</label>
    <input type="text" id="fractal_dimension_worst" name="fractal_dimension_worst">btw:[0-4356]
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}