<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

    <title>Medical Diagnosis</title>
  </head>
  <body>

  	<div class="content">
  		<div class="jumbotron text-center">
    		<h1>{{ header }}</h1>
    		<p>
    			Experiencing symptoms but not sure what they mean? Use our online diagnosis tool to find out what could be wrong.
    		</p>
  		</div>

  		<div class="content">
  			{% block content %} 

  			{% endblock %}
  			
  			<!-- <div class="card" style="width: 18rem;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div> -->

			<!-- <div class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input" id="customCheck1">
			  <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
			</div>
			<div class="custom-control custom-radio">
			  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
			  <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
			</div>
			<div class="custom-control custom-radio">
			  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
			  <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
			</div> -->




			<div class="tabs">
				<!-- <div class="container">
					<div class="row">
						<div class="col-xl-2">
							<ul class="nav nav-pills nav-stacked flex-column">
								<li class="active"><a href="#tab_a" data-toggle="pill">TAB 1</a></li>
								<li><a href="#tab_b" data-toggle="pill">TAB 2</a></li>
								<li><a href="#tab_c" data-toggle="pill">TAB 3</a></li>
							</ul>
						</div>
						<div class="col-xl-6">
							<div class="tab-content">
								<div class="tab-pane active" id="tab_a">
									<h3>First tab with soft transitioning effect.</h3>
									<p>American Builders Inc. is your full service general contractor. We have been helping 
										clients throughout Eastern North Carolina with their construction needs since 1996.
										We take pride in understanding our clients' needs, making their construction experience 
										as worry free as possible and only delivering a finished product that will withstand the
									test of time. </p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
									bibendum laoreet.</p>
								</div>
								<div class="tab-pane" id="tab_b">
									<h3>Second tab with soft transitioning effect.</h3>
									<p>We maintain a reputation for effective communication and collaboration between our 
										team and clients to minimize surprises and ensure precise project delivery. Lorem ipsum 
										dolor sit amet, consectetur adipiscing elit. Aenean euismod 
										bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
										justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
									penatibus et magnis dis parturient montes.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
									bibendum laoreet.</p>
								</div>
								<div class="tab-pane" id="tab_c">
									<h3>Third tab with soft transitioning effect.</h3>
									<p>Thank you for taking the time to consider American Builders Inc. as your general
										contractor for any and all of your commercial, residential, insurance restoration and metal 
										building needs. Please feel free to explore our website, and be sure to click on the
									Facebook link at the bottom of this page and like us on Facebook.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
									bibendum laoreet.</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div> <!-- /close tabs -->
		</div><!-- /close containers -->
  	</div>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>