{% extends 'layout.html' %}


{% block content %}

<div class="container text-center" style='margin-bottom:190px'>
	<h4>Your Diagnosis Is Completed</h4>
	<div class="card">
	  <!-- <img src="..." class="card-img-top" alt="..."> -->
	  <div class="card-body">
	  	{% if result == 'Indeterminable' %}
		  	<p>From the answers you provided, your medical condition is {{ result }}</p>
		    <p class="card-text">Result: <code style='font-size:3em'>{{ result }}</code></p>

	    {% else %}
		  	<p>From the answers you provided, you were tested {{ result[1] }}% positive on {{ result[0] }} we strongly recommend you consult a doctor for further advice</p>
		    <p class="card-text">Result: <code style='font-size:3em'>{{ result[1] }}% {{ result[0] }}</code></p>


	    {% endif %}
		    <p><small>
		    	Disclaimer: Our diagnosis is based on general sympthons from decade of medical reports and diagnostics, consult a doctor for advice.
		    </small></p>
	  </div>
	</div>
</div>

			
{% endblock %}