{% extends 'layout.html' %}


{% block content %}
	<div style='text-align:center'>
		
		<p>The diagnosis is completed, from the answers provided, the system has predicted the Tumor to be:</p>
	   <h1><code>{{ prediction }}</code></h1>
	   
	   {% if prediction == 'Indeterminable' %}
			<h4>Ensure you provided enough information</h4>
	   {% endif %}
	</div>


{% endblock %}