{% extends 'layout.html' %}


{% block content %}
		<form id="regForm" action="{{ url_for('diagnose') }}" method='post'>

			<h1 class='title header text-center' style='margin-bottom:60px;color:#999'>You are only a few questions away</h1>

			<!-- One "tab" for each step in the form: -->
		{% for condition in conditions %}
			{% for sympthon in condition.sympthons %}
				<div class="tab">
					<h4 class='tab-desc'>How are you feeling?</h4>
					{% if(sympthon.photo) %}
						<img style='text-align:center;margin:auto;display: block' src='{{ sympthon.photo }}' width='350' height='290' />
					{% endif %}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="sypCheck{{ sympthon.id }}" name='condition[{{ condition.id }}]' value='{{ condition.name }}'>
						<label class="custom-control-label" for="sypCheck{{sympthon.id}}">{{ sympthon.desc }}</label>
					</div>
					<!-- <p><input placeholder="Username..." oninput="this.className = ''" class='form-control'></p>
					<p><input placeholder="Password..." oninput="this.className = ''" class='form-control'></p> -->
				</div>
			{% endfor %}
		{% endfor %}

			<div style="overflow:auto;">
				<div style="float:right;">
					<button type="button" id="prevBtn" onclick="nextPrev(-1)" class='btn btn-warning'>Previous</button>
					<button type="button" id="nextBtn" onclick="nextPrev(1)" class='btn btn-warning'>Next</button>
				</div>
			</div>

			<!-- Circles which indicates the steps of the form: -->
			<div style="text-align:center;margin-top:40px;">
				{% for i in range(count_sympthon) %}
					<span class="step"></span>
				{% endfor %}
			</div>

		</form>

{% endblock %}